ion-content{
  margin: 0;
  height: 100vh;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid black;
  padding: 8px;
  background-color: rgb(245, 247, 231);
}

.menu-button {
  background-color: rgb(245, 247, 231);
}

.toolbar-container {
  background-color: rgb(245, 247, 231);
}



ion-menu-button {
  background-color: rgb(245, 247, 231);
  color: #008f45;
  font-size: 50px;
}

ion-icon {
  color: #008f45;
  // margin-top: -10px;
  background-repeat: no-repeat;
  display: inline-block;
  font-size: 60px;
  font-weight: 900;
  margin: 0;
}


.logoCemig > img {
  margin-top: 15px;
}

.nomeCentro {
  color: #008f45;
  font-size: 2.2rem;
  font-weight: 800;
  margin: auto 0;
  margin-left: 90px;
}
.spinner {
  margin-top: 10%;
  margin-left: 46%;
}
ion-spinner {
  align-items: center;
  transform: scale(3);
}

/* routes and search */
.route {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 8%;
  max-height: 9%;
}

.routeSelect {
  font-size: 1.2rem;
  margin: 10px;
  color: #008f45;
}

.search {
  margin-right: 20px;
}

/* data box route */
.boxData {
  margin: 10px;
  border: 2px solid black;
  overflow: auto;
  height: 68%;
  max-height: 68%;
}

ion-list {
  font-size: 2.6rem;
  padding: 20px;
  list-style: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(95, 95, 95);
}

@media screen and(max-width: 800px) {
  .logoCemig > img{
    width: 180px !important;
  }
  .nomeCentro{
    font-size: 1.2rem;
  }

  .route{
    max-height: 8%;
  }
  .routeSelect{
    font-size: 0.8rem;
  }
  .search > ion-icon{
    margin-top: 8px;
    font-size: 30px;
  }

  .boxData {
    height: 60%;
  }
  ion-list{
    font-size: 1.2rem;
    padding: 10px;
  }
  
}

@media screen and(max-width: 500px) {
  .nomeCentro {
    margin-left: 20px;
    font-size: 1rem;
  }
  .logoCemig > img {
    width: 150px !important;
  }
  ion-list {
    font-size: 1.5rem;
  }
  .boxData {
    height: 75%;
    max-height: 75%;
  }
  .route {
    margin: 0;
  }
  .routeSelect {
    font-size: 20px;
    margin: 15px;
  }
  ion-icon {
    font-size: 40px;
    margin-top: 10px;
  }
  .routeSelect {
    font-size: 1rem;
  }
}
