ion-content {
  margin: 0;
  height: 100vh;
}

.allNav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.iconCalendar {
  font-size: 1.5rem;
  margin-top: -5px;
  margin-left: 5px;
}

.spinner {
  margin-top: 10%;
  margin-left: 46%;
}
ion-spinner {
  align-items: center;
  transform: scale(3);
}

/* data box route */
.boxData {
  border: 2px solid black;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  margin: 10px;
  overflow: auto;
}

.boxShort {
  width: 70%;
}
.boxTotal {
  margin-left: 10px;
}

ion-list {
  font-size: 2.6rem;
  padding: 20px;
  list-style: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(95, 95, 95);
}

.select {
  font-size: 1rem;
  width: 500px;
}

.controlKeyboard {
  margin-top: 5%;
  margin-left: calc(11% - 91px);
}

.keyboard {
  text-align: center;
}

.calc-button {
  width: 84px;
  height: 84px;
  margin: 1px;
  margin-top: 3px;
  font-size: 1.4rem;
}

.btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
.btns > ion-button {
  width: 85%;
  height: 60px;
  margin: 3px;
  background: #008f45 !important;
  font-size: 1rem;
  border-radius: 10px;
}

.disabled {
  background: gray !important;
}

.enabled {
  background: #008f45 !important;
}

.read {
  color: rgb(163, 162, 162);
  border: 1px solid gray;
  cursor: none;
}

.write {
  color: #00c55f !important;
  border: 1px solid #008f45 !important;
  cursor: none;
}

.orange {
  color: rgb(255, 157, 0) !important;
  border: 1px solid rgb(134, 83, 0) !important;
}

.green {
  color: #00c55f !important;
  border: 1px solid #005c2c !important;
}

.purple {
  color: rgb(155, 2, 96) !important;
  border: 1px solid rgb(58, 0, 36) !important;
}

.red {
  color: rgb(255, 0, 0) !important;
  border: 1px solid rgb(119, 3, 3) !important;
}

.black {
  color: rgb(34, 31, 31) !important;
  border: 1px solid rgb(0, 0, 0) !important;
}

.write {
  color: #00c55f !important;
  border: 1px solid #008f45 !important;
  cursor: none;
}

.search-input {
  border: 1px solid black;
}

@media screen and(max-width: 600px) {
  .allNav {
    display: flex;
    flex-direction: column;
  }

  .route {
    height: 4%;
  }
  .routeSelect {
    font-size: 0.8rem;
  }
  .search > ion-icon {
    margin-top: 8px;
    font-size: 30px;
  }

  .boxData {
    height: calc(96% - 90px);
  }
  .boxShort {
    width: calc(100% - 20px);
    height: 40%;
  }
  ion-list {
    font-size: 1.2rem;
    padding: 10px;
  }

  .controlKeyboard > p {
    text-align: center;
  }
  // .calc-button {
  //   width: 35px;
  //   height: 35px;
  //   font-size: 8px;
  // }

  .btns > ion-button {
    width: 30%;
  }
}

@media screen and(max-width: 500px) {
  ion-list {
    font-size: 1.5rem;
  }
  .boxData {
    height: 75%;
    max-height: 75%;
  }
  .route {
    margin: 0;
  }
  .routeSelect {
    font-size: 0.7rem;

    margin: 15px;
  }
  ion-icon {
    font-size: 40px;
    margin-top: 10px;
  }
}
