.tudo {
  background-image: url(../../assets/backgroundCemig1.PNG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.iconBack{
  margin: 5%;
  font-size: 1.8rem;
  color: white;
}

.login {
  width: 600px;
  margin: 0 auto !important;
  font-size: 16px;
}

.inputs {
  margin-top: 14%;
}

.pass {
  display: flex;
  padding: 10px;
}

.pass > label {
  margin: auto 0;
  font-size: 2.2rem;
  margin-right: 10px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.pass > input {
  border-radius: 10px;
  height: 80px;
  width: 100%;
  margin-left: 18px;
}

.iconEye{
  color: rgb(255, 255, 255);
  font-size: 3rem;
  margin-right: -65px;
  padding: 15px;
}

.login input {
  display: block;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
}

.btn > button {
  width: 60%;
  height: 70px;
  border-radius: 40px;
  border: 1px solid white;
  background-color: white;
  font-size: 2rem;
  font-weight: 800;
  color: teal;
  margin-left: 20%;
  margin-top: 50px;
}


@media screen and (max-width: 820px){
  .login{
    margin-top: -40px !important;
  }

  .inputs{
    margin-top: 10%;
  }
  .pass >input{
    width: 60% !important;
    height: 60px;
  }
  .pass>label{
    font-size: 1.4rem;
    margin-left: 10% !important;
  }
  .btn > button{
    height: 50px;
    width: 40%;
    margin-left: 30%;
    margin-top: 20px;
  }

  .iconEye{
    font-size: 1.8rem;
  }

  .btn > button{
    font-size: 1.2rem;
    width: 40%;
    height: 50px;
    margin-left: 30%;
    margin-top: 10px;
  }
}

@media screen and(max-width: 550px) {
  .login {
    width: 100%;
    margin-top: 50% !important;
  }
  .pass > input {
    width: 80%;
    height: 50px;
    font-size: 1rem;
  }
  .pass > label {
    font-size: 1.5rem;
  }

  .btn > button {
    height: 50px !important;
  }
}
