<ion-app>
  <ion-content>
    <div class="boxData" id="boxLogsData">

      <div class="boxLogs" *ngFor="let data of dataLogs">
        <div *ngIf="data.isSystem == true">
          <h6>Login</h6>
          <ion-item>Modelo: {{data.device}} {{data.deviceModel}} - Versão: {{data.devicePlatform}}
            {{data.deviceVersion}}
            - ID:
            {{data.deviceId}}
          </ion-item>
          <ion-item>Usuario: {{data.user}}</ion-item>
          <ion-item lines="none">Data: {{data.date}}</ion-item>
        </div>
        <br>
        <div *ngIf="data.isToSave == true">
          <h6>Login OffLine</h6>
          <ion-item>Modelo: {{data.device}} {{data.deviceModel}} Versão: {{data.devicePlatform}} {{data.deviceVersion}}
            ID:
            {{data.deviceId}}
          </ion-item>
          <ion-item>Usuario: {{data.user}}</ion-item>
          <ion-item lines="none">Data: {{data.date}}</ion-item>
        </div>
        <div *ngIf="data.isToSave == false">
          <h6>Dados Enviados</h6>
          <ion-item>Usuario: {{data.user}}</ion-item>
          <ion-item>Data: {{data.date}} | Instrumento: {{getRelativePath(data.relativePath)}}</ion-item>
          <ion-item lines="none">Data Leitura: {{data.dataDate}}</ion-item>
          <div>
            <div *ngFor="let value of data.value">
              <ion-list>{{value.Name}} : {{getMessage(value.status)}}</ion-list>
            </div>
          </div>
          <br>
        </div>
        <div *ngIf="data.isEdit === false">
          <h6>Dados Excluidos</h6>
          <ion-item>Usuario: {{data.user}}</ion-item>
          <ion-item>Data: {{data.date}} | Instrumento: {{getRelativePath(data.relativePath)}}</ion-item>
          <ion-item lines="none">Data Leitura: {{data.dataDate}}</ion-item>
          <div>
            <div *ngFor="let value of data.value">
              <ion-list>{{value.Name}} : {{value.Selected && value.Selected.Name
                ? value.Selected.Name
                : value.Selected}}
              </ion-list>
            </div>
          </div>
          <br>
        </div>
        <div *ngIf="data.isSystem === false">
          <h6>Dados Postados</h6>
          <ion-item>Usuario: {{data.user}}</ion-item>
          <ion-item>Data: {{data.date}} | Instrumento: {{getRelativePath(data.relativePath)}}</ion-item>
          <ion-item lines="none">Data Leitura: {{data.dataDate}}</ion-item>
          <div>
            <div *ngFor="let value of data.value">
              <ion-list>{{value.Name}} : {{value.Selected && value.Selected.Name
                ? value.Selected.Name
                : value.Selected}}</ion-list>
            </div>
          </div>
          <br>
        </div>
        <div *ngIf="data.isConnectionError == true">
          <h6>Erro de Conexão</h6>
          <ion-item>Modelo: {{data.device}} {{data.deviceModel}} Versão: {{data.devicePlatform}} {{data.deviceVersion}}
            ID:
            {{data.deviceId}}
          </ion-item>
          <ion-item>Usuario: {{data.user}}</ion-item>
          <ion-item>Data: {{data.date}}</ion-item>
          <ion-item lines="none">Mensagem: {{data.errorMessage}}</ion-item>
        </div>
      </div>
    </div>
    <div class="btn">
      <div class="btn_back">
        <ion-icon class="iconBack" (click)="onBack()" name="arrow-back-outline"></ion-icon>
      </div>
      <ion-button (click)="sharingLogs()">Enviar logs</ion-button>
    </div>
  </ion-content>
</ion-app>