# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/


IHM.Cemig.API/.vs
IHM.Cemig.API/IHM.Cemig.API/bin
IHM.Cemig.API/IHM.Cemig.API/obj

*.log
log.txt
npm-debug.log*

/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
/node_modules
/platforms
/plugins
/www
package.json
config.xml
.gradle/vcs-1/gc.properties
.gradle/configuration-cache/gc.properties
.gradle/checksums/checksums.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/6.7.1/gc.properties
.gradle/6.7.1/fileHashes/fileHashes.lock
.gradle/6.7.1/fileChanges/last-build.bin
.gradle/6.7.1/executionHistory/executionHistory.lock
config.xml
package.json
