.boxData{
    border: 2px solid black;
    width: calc(100% - 10px);
    height: calc(100% - 60px);
    margin: 5px;
    overflow: auto;
}

.vertical-center {
    display: flex;
    align-items: center;
  }

.flex {
    display: flex;
}

.w-25 {
    width: 25%;
}

.m-r-16 {
    margin-right: 16px;
}

.btn-clean {
    background-color: #ccc;
    color: black;
}

.horizontal-center {
    display: flex;
    justify-content: center;
}

.p-l-4 {
    padding-left: 4px !important;
}

.p-t-14 {
    padding-top: 14px;
}

.p-t-32{
    padding-top: 32px;
}

.p-t-12 {
    padding-top: 12px;
}

.btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // margin: 5px;
    // margin-right: 20px;
}

.iconBack{
    font-size: 1.6rem;
    margin: 10px;
  }

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #a4a4a4;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.filter-cls {
    padding-left: 4px;
}

.flex {
    display: flex;
}

.w-500px {
    width: 500px;
}

.fs-8 {
    font-size: 8px;
}

.p-x-16 {
    padding: 16px;
}

.p-b-8 {
    padding-bottom: 8px;
}