<ion-content>
  <div class="tudo">
    <ion-icon class="iconBack" (click)="iconBack()" name="arrow-back-outline"></ion-icon>
    <div class="login">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="inputs">
          <div class="name">
            <label for="name">Usuario: </label>
            <input type="text" name="username" ngModel placeholder="Usuário" required />
          </div>
          <div class="pass">
            <label>Senha: </label>
            <input type="password" name="password" ngModel placeholder="Senha" required />
          </div>
        </div>
        <div class="btn">
          <button type="submit" value="Sincronizar">Sincronizar</button>
        </div>
      </form>
    </div>
  </div>
</ion-content>