<div class="head">
  <ion-menu side="start" content-id="main-content" [swipeGesture]="appMenuSwipeGesture"
    (ionDidOpen)="appMenuSwipeGesture = false" (ionDidClose)="appMenuSwipeGesture = true">
    <ion-header>
      <ion-toolbar translucent>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item (click)="goSalvarDados()">
          <ion-icon name="navigate-outline"></ion-icon>
          <ion-label>Enviar</ion-label>
        </ion-item>

        <ion-item (click)="goPageLogs()">
          <ion-icon name="layers-outline"></ion-icon>
          <ion-label>Logs</ion-label>
        </ion-item>

        <ion-item name="logout" slot="start" (click)="logoutUsuario()">
          <ion-icon name="log-out-outline"></ion-icon>
          <ion-label>Sair</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div id="main-content" class="menuHamb">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </div>

  <div class="nomeCentro">{{nameMenu}}</div>

  <div class="logoCemig">
    <img style="width: 100%; margin-right: -60px" src="../../../assets/logo-cemig-2048.png" alt="logo" />
  </div>
</div>