<ion-app>

  <ion-content>
    <div class="boxData">
      <div class="dataConfirm">
        <ion-list lines="none" *ngFor="let element of dataToWriteOnPI">
          <ion-item-divider>
            {{ getRelativePath(element.relativePath) }}
            <ion-checkbox slot="end" [(ngModel)]="element.isToSave"></ion-checkbox>
          </ion-item-divider>

          <ion-item> Data: {{ element.date }}</ion-item>
          <div class="btnEdit">
            <ion-button (click)="onEdit(element)">Editar</ion-button>
          </div>
          <div *ngFor="let value of element.value">
            <ion-item *ngIf="value.mode != 'Leitura'">
              {{ value.Name }}:
              {{
              value.Selected && value.Selected.Name
                ? value.Selected.Name
                : value.Selected
            }}
            </ion-item>
          </div>

        </ion-list>
      </div>
    </div>
    <div class="btn">
      <div class="btn_back">
        <ion-icon class="iconBack" (click)="onBack()" name="arrow-back-outline"></ion-icon>
      </div>
      <div class="checkConfirm">
        <span class="checkbox">
          <ion-checkbox [(ngModel)]="confirm"></ion-checkbox>
          <ion-label>Confirmado</ion-label>
        </span>
        <div class="btns">
          <ion-button (click)="removeWritten()">Deletar</ion-button>
          <ion-button (click)="saveOnPI()">Enviar</ion-button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-app>