.boxData{
    border: 2px solid black;
    width: calc(100% - 10px);
    height: calc(100% - 60px);
    margin: 5px;
    overflow: auto;
}


.btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // margin: 5px;
    // margin-right: 20px;
}

.checkConfirm{
    display: flex;
    margin: 5px;
}

.checkbox{
    margin-right: 20px;
    margin-left: 3px;
    font-size: 1.3rem;
    margin-top: 12px;
}

.btns > ion-button{
    width: 100px;
    margin-right: 5px;
}

.iconBack{
    font-size: 1.6rem;
    margin: 10px;
  }

  .btnEdit{
      float: right;
      margin: 2%;
  }



