/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
* {
  margin: 0;
}
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-icon {
  color: #008f45;
  // margin-top: -10px;
  background-repeat: no-repeat;
  display: inline-block;
  font-size: 60px;
  font-weight: 900;
  margin: 0;
}
.spinner {
  margin-top: 20px;
  margin-left: 46%;
}

/* routes and search */
.route {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: min-content;
  max-height: fit-content;
}

.routeSelect {
  font-size: 20px;
  margin: 10px;
  color: #008f45;
}

.search > ion-icon {
  font-size: 1.5rem;
  margin-right: 20px;
  margin-top: 10px;
}

@media screen and(max-width: 800px) {
  .logoCemig > img {
    width: 180px !important;
  }
  .nomeCentro {
    font-size: 1.2rem;
  }
  ion-list {
    font-size: 1.2rem;
    padding: 10px;
  }
}

@media screen and(max-width: 500px) {
  .nomeCentro {
    margin-left: 20px;
    font-size: 1rem;
  }
  .logoCemig > img {
    width: 150px !important;
  }
  ion-list {
    font-size: 1.5rem;
  }

  ion-icon {
    font-size: 40px;
    margin-top: 10px;
  }
}
