.tudo {
  background-image: url(../../assets/cemigCapa.PNG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.seetings {
  position: relative;
}

.seetings > ion-icon {
  margin: 30px;
  font-size: 60px;
  color: white;
}

.main {
  width: 100%;
}

.main_descricao {
  position: absolute;
  font-size: 2.3rem;
  color: white;
  margin-top: 36%;
}

.main_btns {
  display: flex;
  justify-content: space-evenly;
}

.main_btns > button {
  width: 28%;
  height: 70px;
  border-radius: 40px;
  border: none;
  margin-top: 48%;
  font-size: 2rem;
  font-weight: 800;
  color: rgb(32, 128, 69);
}
