.tudo {
  background-image: url(../../assets/cemigCapa2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.seetings {
  display: flex;
  justify-content: flex-end;
}

.seetings > ion-icon {
  margin: 30px;
  font-size: 60px;
  color: white;
}

.main {
  width: 100%;
}
.main_logo {
  text-align: center;
  margin-top: 12%;
}
.main_descricao {
  font-size: 2.3rem;
  color: white;
}
.main_descricao > p {
  text-align: center;
}

.main_btns {
  display: flex;
  justify-content: space-evenly;
}

.main_btns > button {
  width: 28%;
  height: 70px;
  border-radius: 40px;
  border: none;
  font-size: 2rem;
  font-weight: 800;
  color: rgb(32, 128, 69);
}

@media screen and(max-width: 800px) {
  .main {
    margin-top: 40%;
  }

  .main_descricao {
    font-size: 1.7rem;
  }

  .main_btns {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main_btns > button {
    width: 60%;
    margin-top: 30px;
  }
}
