.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid black;
  padding: 8px;
  background-color: rgb(245, 247, 231);
}

.menu-button {
  background-color: rgb(245, 247, 231);
}

.toolbar-container {
  background-color: rgb(245, 247, 231);
}

ion-menu-button {
  background-color: rgb(245, 247, 231);
  color: #008f45;
  font-size: 50px;
}

ion-icon {
  color: #008f45;
  margin-top: -10px;
  background-repeat: no-repeat;
  display: inline-block;
  font-size: 60px;
  font-weight: 900;
  margin: 0;
}

.logoCemig > img {
  margin-top: 15px;
}

.nomeCentro {
  color: #008f45;
  font-size: 2.2rem;
  font-weight: 800;
  margin: auto 0;
  margin-left: 90px;
}

// box
.main {
  width: 70%;
  height: 85%;
  margin-top: 20px;
  margin-left: 15%;
  border-radius: 25px;
}
fieldset {
  height: 100%;
  border-radius: 50px;
}

legend {
  font-size: 30px;
}
.main_inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_inputs > label {
  font-size: 1.2rem;
  margin-top: 20px;
}
.main_inputs > input {
  width: 70%;
  height: 60px;
  border: 15px solid #ccc;
  font-size: 35px;
}
.btn {
  width: 28%;
  height: 45px;
  margin-top: 15px;
  border-radius: 40px;
  border: none;
  font-size: 2rem;
  font-weight: 800;
  color: rgb(255, 255, 255);
  background-color: #008f45;
}
