<div class="all">
  <ion-icon class="iconBack" (click)="onBack()" name="arrow-back-outline"></ion-icon>

  <div class="main">

    <fieldset>
      <legend>Configurações</legend>
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="main_inputs">
          <label>PI WEB API</label>
          <input type="text" name="server" placeholder="https://pwnpo-bhepiapp1/piwebapi" [(ngModel)]="serverUrl" />

          <label>Configurações</label>
          <input type="text" name="configuracoes"
            placeholder="\\10.30.48.171\Instrumentação de barragens - MG/SB\CEMIG - Gerência de Segurança de Barragens e Manutenção Civil\Aplicações\APP_Entrada_Manual"
            [(ngModel)]="configPath" />
          <button class="btn" type="submit" value="salvar">Salvar</button>
        </div>
      </form>
    </fieldset>
  </div>
</div>