<div class="all">
  <ion-icon class="iconBack" (click)="onBack()" name="arrow-back-outline"></ion-icon>

  <div class="main">

    <fieldset>
      <legend>Configurações</legend>
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="main_inputs">
          <label>PI WEB API</label>
          <input type="text" name="server" placeholder="https://34.233.235.92/piwebapi" [(ngModel)]="serverUrl" />

          <label>Configurações</label>
          <input type="text" name="configuracoes" placeholder="\\EC2AMAZ-T1N5EJ5\Testes\APP Entrada Manual"
            [(ngModel)]="configPath" />
          <button class="btn" type="submit" value="salvar">Salvar</button>
        </div>
      </form>
    </fieldset>
  </div>
</div>